body {
  background-color: darkolivegreen;
}

.page-body {
  margin: 10%, 10%, 10%, 10%;
}

.popover {
  background-color:lightgreen;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:darkolivegreen;
}

.body-background {
  background-color:antiquewhite;
}